.splash {
  background: steelblue;
  text-color: darkgray;
  width: 100%;
  height: 100%;
}

svg#daylight-plot {
  position: relative;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 100px;
  padding: 10px;
  position: absolute;
  top: 100px;
  width: 110px;
  z-index: 10;
}

.tooltip .date {
  font-weight: bold;
}
